body {
  background-color: #fcfcfc;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #444;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  float: right;
}
#menu {
  position: fixed;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  padding: 5px;
  padding-left: 25px;
  border-radius: 30px;
  transform: translate(3vw, -5px);
  background-color: #fcfcfc;
  z-index: 998;
}
.nav-bar-item {
  color: #333;
  text-decoration: none;
  padding-right: 32px;
  letter-spacing: 2px;
  opacity: 0.6;
}
.nav-img {
  display: none;
}
.nav-bar-item a {
  color: #333;
  text-decoration: none;
}
.nav-bar-item a:hover {
  transition: 0.2s;
  opacity: 1;
}
#menu-lines {
  position: fixed;
  display: flex;
  background-color: #fcfcfc;
  flex-direction: column;
  margin-top: -1px;
  transform: translateX(-45px);
  opacity: 0.5;
  z-index: 1000;
}
#menu-lines:hover {
  transition: 0.2s;
  cursor: pointer;
  opacity: 0.9;
}
.line img {
  width: 16px;
}
.line {
  margin: -7px;
}
@keyframes lineOne {
  from {transform: rotate(0deg) translate(0px, 0px);}
  to {transform: rotate(45deg) translate(7px, 2px);}
}
@keyframes lineOneBack {
  from {transform: rotate(45deg) translate(7px, 2px);}
  to {transform: rotate(0deg) translate(0px, 0px);}
}
@keyframes lineTwo {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes lineTwoBack {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes lineThree {
  from {transform: rotate(0deg) translate(0px 0px);}
  to {transform: rotate(-45deg) translate(1px, -5px);}
}
@keyframes lineThreeBack {
  to {transform: rotate(0deg) translate(0px 0px);}
  from {transform: rotate(-45deg) translate(1px, -5px);}
}
#blank-space {
  background-color: #fcfcfc;
  width: 80px;
  padding: 5px;
  height: 16px;
  transform: translateX(-55px);
  position: fixed;
  z-index: 999;
}
@keyframes slideIn {
  to { transform: translate(-460px, -5px); }
}
@keyframes slideOut {
  from { transform: translate(-460px, -5px); }
  to { transform: translate(0vw, -5px); }
}
#blob {
  float: bottom;
}
#blob img {
  opacity: 0.9;
  position: fixed;
  width: 510px;
  overflow: hidden;
  margin-left: 59.5vw;
  margin-top: 64vh;
  margin-bottom: -2vh;
  float: right;
  z-index: -1000;
}
#intro-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 19.5vw;
  margin-right: 19.5vw;
  margin-top: 12vw;
  margin-bottom: 12vw;
}
.intro-item {
  margin: 2.5vw;
}
#intro-photo img {
  width: 280px;
  filter: brightness(1.05);
  opacity: 0.9;
}
#dotted-square {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: -26vw;
  margin-top: 13vh;
  overflow: hidden;
}
#dotted-square img {
  height: 200px;
  width: 200px;
  opacity: 0.9;
}
#intro-text {
  line-height: 30px;
  letter-spacing: 1px;
}
#intro {
  font-family: "Solway", serif;
  font-size: 28px;
}
.content {
  position: absolute;
  margin-top: 10vh;
  margin-left: 12vw;
  display: flex;
  flex-direction: column;
}
#title {
  font-family: "Solway", serif;
  font-size: 3.1vw;
  margin-bottom: 6vh;
}
.row {
  display: flex;
  flex-direction: row;
}
.project-tile {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-right: 5vw;
  margin-bottom: 5vw;
  opacity: 0.8;
}
.project-image img {
  border-radius: 0.5vw;
  width: 35vw;
}
.project-title {
  font-family: "Solway", serif;
  margin-left: 3px;
  margin-top: 5px;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 18px;
  color: #333;
}
.project-tile:hover {
  transition: 0.5s;
  transform: translateY(-6px);
  opacity: 1;
}
.project-blurb {
  margin: 3px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.text-link {
  display: inline;
}
.text-link a {
  text-decoration: none;
  font-style: oblique;
  color: #444;
}
.text-link a:hover {
  /* transition: 0.2s; */
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #ff7b61;
}
.text-link a:active {
  transition: 0.1s;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #ff441f;
}
/* #multi-slider {
  display: flex;
  flex-direction: row;
}
#image-stack {
  display: flex;
  flex-direction: column;
} */
#artwork, #multi-slider, #image-stack {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.piece {
  display: flex;
  flex-direction: row;
  margin-top: 4vw;
  margin-bottom: 16vw;
  align-items: center;
}
.piece img {
  border-radius: 0.5vw;
}
#all-donuts img {
  height: 30vw;
}
#donut-title, #donut-text {
  width: 15vw;
  margin-left: 4vw;
}
.caption {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 2vw;
  font-family: "Solway", serif;
  margin-bottom: 1vw;
}
.text {
  display: inline;
  font-size: 1.3vw;
  line-height: 2vw;
  letter-spacing: 0.1vw;
}
#proverbs {
  align-self: center;
}
#proverbs img {
  height: 45vw;
}
#prov-title, #prov-text {
  margin-right: 4vw;
  width: 20vw;
  text-align: right;
}
#julian img {
  height: 38vw;
}
#julian-title, #julian-text {
  margin-left: 4vw;
  width: 12vw;
}
#tso img {
  height: 36vw;
}
#tso-title, #tso-text {
  margin-right: 4vw;
  width: 12vw;
  text-align: right;
}



@media (max-width: 800px) {
  #menu {
    font-size: 14px;
  }
  .nav-bar-item {
    color: #333;
    text-decoration: none;
    padding-right: 30px;
    letter-spacing: 2px;
    opacity: 0.6;
  }
  .nav-text {
    display: none;
  }
  .nav-img {
    display: flex;
  }
  .nav-img img {
    height: 20px;
    width: 20px;
  }
  @keyframes slideIn {
    to { transform: translate(-280px, -5px); }
  }
  @keyframes slideOut {
    from { transform: translate(-280px, -5px); }
    to { transform: translate(0vw, -5px); }
  }
  #intro-content {
    display: flex;
    flex-direction: column;
    margin-left: 16vw;
    margin-right: 16vw;
    margin-bottom: 20vh;
    margin-top: 16vw;
  }
  #intro-photo img {
    width: 50vw;
  }
  #intro {
    font-size: 20px;
  }
  #bio, .text, .project-blurb {
    font-size: 14px;
    line-height: 24px;
  }
  #blob img {
    margin-top: 84vh;
    width: 40vw;
  }
  #title {
    font-size: 32px;
  }
  .row {
    flex-direction: column;
  }
  .project-tile, .project-tile img, .piece {
    width: 75vw;
    border-radius: 1vw;
  }
  .project-tile {
    margin-bottom: 8vw;
  }
  .project-title {
    margin-top: 2vw;
    margin-bottom: 1vw;
  }
  .content {
    margin-bottom: 8vw;
  }
  .piece {
    flex-direction: column;
  }
  #donut-title, #donut-text, #prov-title, #prov-text, #julian-title, #julian-text, #tso-title, #tso-text {
    width: 75vw;
    height: auto;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .title {
    font-size: 20px;
    margin-top: 4vw;
  }
  #all-donuts img, #julian img {
    height: 37vw;
  }
  #proverbs img {
    height: 75vw;
  }
  #julian img {
    height: 47.1vw;
  }
  #tso img {
    height: 43.4vw;
  }
}



/* .piece img {
  opacity: 0.8;
  height: 90vh;
}
#all-donuts {
  display: flex;
  transform: translateX(-40vw);
}
#all-donuts img {
  overflow: hidden;
  height: 75vh;
}
.piece img:hover {
  transition: 0.5s;
  opacity: 1;
}
@keyframes donutSlide {
  from { transform: translateX(-40vw); }
  to { transform: translateX(30vw); }
} */
